.HA_VERSION
secrets.yaml
frigate.yml
home-assistant*
*.save
custom_components/hacs
__pycache__
.cloud
.shopping_list.json
.pip_progress
.storage/*auth*
.storage/cloud
.storage/mobile_app
.storage/core.*
.storage/hassio
gtfs/*
